# تجاهل ملف متغيرات البيئة المحلي الذي يحتوي على الأسرار
.env

# تجاهل قاعدة البيانات، حيث يتم تحديثها آلياً
cbe_historical_data.db

# تجاهل مجلدات الكاش الخاصة ببايثون
__pycache__/
*.pyc
*.pyo
*.pyd

# تجاهل مجلدات البيئة الافتراضية
venv/
.venv/
env/
.env/

# تجاهل الملفات الخاصة ببيئات التطوير (IDE)
.idea/
.vscode/
